.mansory-parents-container{
    max-height: 500px;
    overflow-y: auto;
}
.masonry-container {
    column-count: 3;
    column-gap: 15px;
}  
.masonry-item {
    display: inline-block;
    width: 100%;
}

.masonry-item img {
    display:block;
    width: 100%;
}




  